# to do
- test set has to be put in a goof form
- the promointerval was taken out until I can put it in a good form as well
- how to change the arrays inside an array as individual columns (otherwise I think SVM etc will not work)

In [201]:
import numpy as np
import pandas 
import sklearn as sk
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
from sklearn import preprocessing

In [202]:
store = pandas.read_csv('store.csv', sep = ',')
train_initial = pandas.read_csv('train_v2.csv',dtype={"StateHoliday": str})
test = pandas.read_csv('test_v2.csv', sep = ",") 

#take out the sales (we don't have this info in the test)
sales_train = train_initial['Sales']
train = train_initial.drop('Sales', axis=1)


#take out days were it's closed
sales_train = pandas.Series.to_frame(sales_train)
train = train[train.Customers != 0]
sales_train = sales_train[sales_train.Sales != 0]

In [203]:
test

,Store,DayOfWeek,Date,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,555,1,1,0,1
1,2,5,2015-07-31,625,1,1,0,1
2,3,5,2015-07-31,821,1,1,0,1
3,4,5,2015-07-31,1498,1,1,0,1
4,5,5,2015-07-31,559,1,1,0,1
5,6,5,2015-07-31,589,1,1,0,1
6,7,5,2015-07-31,1414,1,1,0,1
7,8,5,2015-07-31,833,1,1,0,1
8,9,5,2015-07-31,687,1,1,0,1
9,10,5,2015-07-31,681,1,1,0,1
10,11,5,2015-07-31,1236,1,1,0,1
11,12,5,2015-07-31,962,1,1,0,1
12,13,5,2015-07-31,568,1,1,0,0
13,14,5,2015-07-31,710,1,1,0,1
14,15,5,2015-07-31,766,1,1,0,1
15,16,5,2015-07-31,979,1,1,0,1
16,17,5,2015-07-31,946,1,1,0,1
17,18,5,2015-07-31,936,1,1,0,1
18,19,5,2015-07-31,718,1,1,0,1
19,20,5,2015-07-31,974,1,1,0,0
20,21,5,2015-07-31,682,1,1,0,1
21,22,5,2015-07-31,633,1,1,0,0
22,23,5,2015-07-31,560,1,1,0,1
23,24,5,2015-07-31,1082,1,1,0,1
24,25,5,2015-07-31,1586,1,1,0,1
25,26,5,2015-07-31,611,1,1,0,1
26,27,5,2015-07-31,1263,1,1,0,1
27,28,5,2015-07-31,663,1,1,0,1
28,29,5,2015-07-31,737,1,1,0,1
29,30,5,2015-07-31,625,1,1,0,1
...,...,...,...,...,...,...,...,...
33420,1086,4,2015-07-02,786,1,1,0,0
33421,1087,4,2015-07-02,661,1,1,0,0
33422,1088,4,2015-07-02,474,1,1,0,1
33423,1089,4,2015-07-02,973,1,1,0,1
33424,1090,4,2015-07-02,834,1,1,0,0
33425,1091,4,2015-07-02,738,1,1,0,0
33426,1092,4,2015-07-02,1007,1,1,0,0
33427,1093,4,2015-07-02,903,1,1,0,0
33428,1094,4,2015-07-02,350,1,1,0,0
33429,1095,4,2015-07-02,656,1,1,0,0
33430,1096,4,2015-07-02,631,1,1,0,1
33431,1097,4,2015-07-02,3070,1,1,0,0
33432,1098,4,2015-07-02,690,1,1,0,0
33433,1099,4,2015-07-02,1208,1,1,0,0
33434,1100,4,2015-07-02,567,1,1,0,1
33435,1101,4,2015-07-02,1011,1,1,0,0
33436,1102,4,2015-07-02,676,1,1,0,0
33437,1103,4,2015-07-02,410,1,1,0,0
33438,1104,4,2015-07-02,420,1,1,0,0
33439,1105,4,2015-07-02,511,1,1,0,1
33440,1106,4,2015-07-02,580,1,1,0,0
33441,1107,4,2015-07-02,625,1,1,0,0
33442,1108,4,2015-07-02,667,1,1,0,0
33443,1109,4,2015-07-02,424,1,1,0,0
33444,1110,4,2015-07-02,626,1,1,0,0
33445,1111,4,2015-07-02,329,1,1,0,1
33446,1112,4,2015-07-02,577,1,1,0,1
33447,1113,4,2015-07-02,793,1,1,0,0
33448,1114,4,2015-07-02,3784,1,1,0,0
33449,1115,4,2015-07-02,452,1,1,0,0

In [204]:
# take out the stores with no sales - 
# train = train[train.Sales != 0] |||| NOT SURE IF GOOD IDEA

# put the 2 types of data together
df = train.join(store.set_index('Store'), on='Store')
test = test.join(store.set_index('Store'), on='Store')

# extract the date as day/month/year/weak of the year
df['Date']  = pandas.to_datetime(df['Date'], errors='coerce')
df['Year']  = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['WeekOfYear'] = df['Date'].dt.weekofyear

test['Date']  = pandas.to_datetime(test['Date'], errors='coerce')
test['Year']  = test['Date'].dt.year
test['Month'] = test['Date'].dt.month
test['Day'] = test['Date'].dt.day
test['WeekOfYear'] = test['Date'].dt.weekofyear

In [205]:
df

,Store,DayOfWeek,Date,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,...,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,WeekOfYear
0,1,5,2015-01-30,616,1,1,0,0,c,a,...,9.0,2008.0,0,NaN,NaN,NaN,2015,1,30,5
1,2,5,2015-01-30,624,1,1,0,0,a,a,...,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,1,30,5
2,3,5,2015-01-30,678,1,1,0,0,a,a,...,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,1,30,5
3,4,5,2015-01-30,1632,1,1,0,0,c,c,...,9.0,2009.0,0,NaN,NaN,NaN,2015,1,30,5
4,5,5,2015-01-30,617,1,1,0,0,a,a,...,4.0,2015.0,0,NaN,NaN,NaN,2015,1,30,5
5,6,5,2015-01-30,692,1,1,0,0,a,a,...,12.0,2013.0,0,NaN,NaN,NaN,2015,1,30,5
6,7,5,2015-01-30,1077,1,1,0,0,a,c,...,4.0,2013.0,0,NaN,NaN,NaN,2015,1,30,5
7,8,5,2015-01-30,747,1,1,0,0,a,a,...,10.0,2014.0,0,NaN,NaN,NaN,2015,1,30,5
8,9,5,2015-01-30,643,1,1,0,0,a,c,...,8.0,2000.0,0,NaN,NaN,NaN,2015,1,30,5
9,10,5,2015-01-30,602,1,1,0,0,a,a,...,9.0,2009.0,0,NaN,NaN,NaN,2015,1,30,5
10,11,5,2015-01-30,1263,1,1,0,0,a,c,...,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct",2015,1,30,5
11,12,5,2015-01-30,988,1,1,0,0,a,c,...,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,1,30,5
12,13,5,2015-01-30,453,1,1,0,0,d,a,...,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov",2015,1,30,5
13,14,5,2015-01-30,692,1,1,0,0,a,a,...,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",2015,1,30,5
14,15,5,2015-01-30,828,1,1,0,0,d,c,...,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,1,30,5
15,16,5,2015-01-30,921,1,1,0,0,a,c,...,NaN,NaN,0,NaN,NaN,NaN,2015,1,30,5
16,17,5,2015-01-30,846,1,1,0,0,a,a,...,12.0,2005.0,1,26.0,2010.0,"Jan,Apr,Jul,Oct",2015,1,30,5
17,18,5,2015-01-30,940,1,1,0,0,d,c,...,6.0,2010.0,1,14.0,2012.0,"Jan,Apr,Jul,Oct",2015,1,30,5
18,19,5,2015-01-30,668,1,1,0,0,a,c,...,NaN,NaN,1,22.0,2011.0,"Mar,Jun,Sept,Dec",2015,1,30,5
19,20,5,2015-01-30,753,1,1,0,0,d,a,...,5.0,2009.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",2015,1,30,5
20,21,5,2015-01-30,641,1,1,0,0,c,c,...,10.0,1999.0,1,45.0,2009.0,"Jan,Apr,Jul,Oct",2015,1,30,5
21,22,5,2015-01-30,555,1,1,0,0,a,a,...,NaN,NaN,1,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,1,30,5
22,23,5,2015-01-30,576,1,1,0,0,d,a,...,8.0,2005.0,0,NaN,NaN,NaN,2015,1,30,5
23,24,5,2015-01-30,1030,1,1,0,0,a,c,...,3.0,2000.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",2015,1,30,5
24,25,5,2015-01-30,1817,1,1,0,0,c,a,...,4.0,2003.0,0,NaN,NaN,NaN,2015,1,30,5
25,26,5,2015-01-30,614,1,1,0,0,d,a,...,NaN,NaN,0,NaN,NaN,NaN,2015,1,30,5
26,27,5,2015-01-30,1132,1,1,0,0,a,a,...,1.0,2005.0,1,5.0,2011.0,"Jan,Apr,Jul,Oct",2015,1,30,5
27,28,5,2015-01-30,564,1,1,0,0,a,a,...,10.0,2014.0,1,6.0,2015.0,"Mar,Jun,Sept,Dec",2015,1,30,5
28,29,5,2015-01-30,729,1,1,0,0,d,c,...,NaN,NaN,0,NaN,NaN,NaN,2015,1,30,5
29,30,5,2015-01-30,726,1,1,0,0,a,a,...,2.0,2014.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec",2015,1,30,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66870,835,3,2014-11-26,652,1,1,0,0,a,a,...,12.0,2007.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec",2014,11,26,48
66871,836,3,2014-11-26,820,1,1,0,0,a,a,...,9.0,2012.0,0,NaN,NaN,NaN,2014,11,26,48
66872,837,3,2014-11-26,544,1,1,0,0,a,c,...,4.0,2015.0,0,NaN,NaN,NaN,2014,11,26,48
66873,838,3,2014-11-26,887,1,1,0,0,d,c,...,NaN,NaN,1,48.0,2011.0,"Mar,Jun,Sept,Dec",2014,11,26,48
66874,839,3,2014-11-26,809,1,1,0,0,c,a,...,1.0,2015.0,0,NaN,NaN,NaN,2014,11,26,48
66875,840,3,2014-11-26,1236,1,1,0,0,a,a,...,9.0,2009.0,0,NaN,NaN,NaN,2014,11,26,48
66876,841,3,2014-11-26,525,1,1,0,0,a,a,...,8.0,2004.0,0,NaN,NaN,NaN,2014,11,26,48
66877,843,3,2014-11-26,1071,1,1,0,0,c,a,...,4.0,2006.0,0,NaN,NaN,NaN,2014,11,26,48
66878,844,3,2014-11-26,473,1,1,0,0,a,a,...,9.0,2012.0,1,18.0,2011.0,"Feb,May,Aug,Nov",2014,11,26,48
66879,845,3,2014-11-26,314,1,1,0,0,d,a,...,11.0,2005.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2014,11,26,48
66880,846,3,2014-11-26,834,1,1,0,0,a,c,...,4.0,2004.0,1,37.0,2009.0,"Jan,Apr,Jul,Oct",2014,11,26,48
66881,847,3,2014-11-26,1081,1,1,0,0,c,c,...,NaN,NaN,1,31.0,2013.0,"Feb,May,Aug,Nov",2014,11,26,48
66882,848,3,2014-11-26,834,1,1,0,0,a,c,...,7.0,2007.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2014,11,26,48
66883,849,3,2014-11-26,1074,1,1,0,0,c,c,...,NaN,NaN,0,NaN,NaN,NaN,2014,11,26,48
66884,850,3,2014-11-26,622,1,1,0,0,d,a,...,5.0,2007.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",2014,11,26,48
66885,852,3,2014-11-26,621,1,1,0,0,c,a,...,4.0,2004.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2014,11,26,48
66886,853,3,2014-11-26,1089,1,1,0,0,a,a,...,NaN,NaN,0,NaN,NaN,NaN,2014,11,26,48
66887,854,3,2014-11-26,694,1,1,0,0,c,a,...,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2014,11,26,48
66888,855,3,2014-11-26,629,1,1,0,0,a,a,...,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov",2014,11,26,48
66889,856,3,2014-11-26,1027,1,1,0,0,a,a,...,2.0,2010.0,0,NaN,NaN,NaN,2014,11,26,48
66890,857,3,2014-11-26,984,1,1,0,0,c,a,...,8.0,2005.0,1,23.0,2014.0,"Mar,Jun,Sept,Dec",2014,11,26,48
66891,860,3,2014-11-26,850,1,1,0,0,c,c,...,2.0,2010.0,0,NaN,NaN,NaN,2014,11,26,48
66892,861,3,2014-11-26,563,1,1,0,0,c,c,...,NaN,NaN,1,14.0,2013.0,"Mar,Jun,Sept,Dec",2014,11,26,48
66893,862,3,2014-11-26,1248,1,1,0,0,a,c,...,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2014,11,26,48
66894,863,3,2014-11-26,1018,1,1,0,0,a,c,...,11.0,2010.0,0,NaN,NaN,NaN,2014,11,26,48
66895,864,3,2014-11-26,626,1,1,0,0,a,a,...,10.0,2012.0,1,45.0,2009.0,"Feb,May,Aug,Nov",2014,11,26,48
66896,865,3,2014-11-26,646,1,1,0,0,d,c,...,NaN,NaN,0,NaN,NaN,NaN,2014,11,26,48
66897,866,3,2014-11-26,479,1,1,0,0,d,a,...,NaN,NaN,1,5.0,2013.0,"Feb,May,Aug,Nov",2014,11,26,48
66898,867,3,2014-11-26,440,1,1,0,0,d,c,...,9.0,2012.0,0,NaN,NaN,NaN,2014,11,26,48
66899,868,3,2014-11-26,579,1,1,0,0,d,c,...,8.0,2005.0,1,10.0,2014.0,"Jan,Apr,Jul,Oct",2014,11,26,48

In [206]:
# combine all to make sure test and data get the same dummies 
number_train = df.shape[0]
number_test = test.shape[0]
frames = [df,test]
result = pandas.concat(frames)

In [207]:
result = result.fillna(-1)

In [208]:
def month_difference (comp_year, our_year, comp_month, our_month):
    difference = our_month - comp_month + 12*(our_year-comp_year)
    return difference

In [209]:
result['CompetitionOpenSinceHowLong'] = month_difference (result['CompetitionOpenSinceYear'],result['Year'],
                                                       result['CompetitionOpenSinceMonth'],result['Month'])

In [210]:
result.head()

,Store,DayOfWeek,Date,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,WeekOfYear,CompetitionOpenSinceHowLong
0,1,5,2015-01-30,616,1,1,0,0,c,a,...,2008.0,0,-1.0,-1.0,-1,2015,1,30,5,76.0
1,2,5,2015-01-30,624,1,1,0,0,a,a,...,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,1,30,5,86.0
2,3,5,2015-01-30,678,1,1,0,0,a,a,...,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,1,30,5,97.0
3,4,5,2015-01-30,1632,1,1,0,0,c,c,...,2009.0,0,-1.0,-1.0,-1,2015,1,30,5,64.0
4,5,5,2015-01-30,617,1,1,0,0,a,a,...,2015.0,0,-1.0,-1.0,-1,2015,1,30,5,-3.0

In [211]:
mappings = {'0':0, 'a':1, 'b':2, 'c':3, 'd':4}
result.StateHoliday.replace(mappings, inplace=True)
result.StoreType.replace(mappings, inplace=True)
result.Assortment.replace(mappings, inplace=True)

In [213]:
result.drop(['PromoInterval','Date','Day','CompetitionOpenSinceMonth','Date'], axis=1, inplace=True)

ValueError: labels ['PromoInterval' 'Date' 'Day' 'CompetitionOpenSinceMonth' 'Date'] not contained in axis

In [214]:
#result.drop(['StoreType','Assortment'], axis=1, inplace=True)

In [215]:
df = result.iloc[:number_train,:]
test = result.iloc[number_train:,:]

In [216]:
test.head()

,Store,DayOfWeek,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,Year,Month,WeekOfYear,CompetitionOpenSinceHowLong
0,1,5,555,1,1,0,1,3,1,1270.0,2008.0,0,-1.0,-1.0,2015,7,31,82.0
1,2,5,625,1,1,0,1,1,1,570.0,2007.0,1,13.0,2010.0,2015,7,31,92.0
2,3,5,821,1,1,0,1,1,1,14130.0,2006.0,1,14.0,2011.0,2015,7,31,103.0
3,4,5,1498,1,1,0,1,3,3,620.0,2009.0,0,-1.0,-1.0,2015,7,31,70.0
4,5,5,559,1,1,0,1,1,1,29910.0,2015.0,0,-1.0,-1.0,2015,7,31,3.0

In [217]:
df = df.astype(np.float32)
test = test.astype(np.float32)

In [218]:

#put the data as a numpy array
data_train = df.values
#sales_train = sales_train_train.values
sales_train = pandas.DataFrame.as_matrix(sales_train)

In [219]:
sales_train = sales_train.reshape(len(sales_train),)

In [220]:
X = data_train

In [221]:
y = sales_train

In [222]:
randomforest = RandomForestRegressor(n_estimators=250, max_features = 'auto')
randomforest.fit(X,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=250, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

0.2246684265967324   10
0.19790389121535615  50
0.19413401753256496  100
0.19102393447665608  250
0.1903307154295898   500
0.19031775372145007  1000
0.19000211033516165  50000
0.19000798708563635  10000

#-------------

In [223]:
prediction_of_sales = randomforest.predict(test)

In [180]:
prediction_in_sample = randomforest.predict(X)

In [226]:
for i in range (number_test) :
    if test['Customers'].iloc[i] == 0 :
        prediction_of_sales[i] = 0

In [183]:
from math import sqrt
def rmspe(y,y_pred):
    summ = 0
    for i in range(len(y)):
        if y[i] != 0:
            summ += (1-y_pred[i]/y[i])**2
    return sqrt(summ/len(y))

In [184]:
rmspe (sales_train, prediction_in_sample)

0.19416226504547487

In [227]:
submission = pandas.DataFrame()
submission['Sales'] = prediction_of_sales
# submission.Sales = submission.Sales.astype(int)
cols = ['Id','Sales']
submission['Id'] = submission.index + 1
submission = submission[cols]
submission.to_csv('submission.csv', index=False)